// Styles for the home page
.home {
	@include outer-container;
	background: url(../images/moon-light.png) 50% 0% no-repeat;
	min-height: 609px;
	padding-top: 220px;
}

#main-content	{

	.names {
		display: block;
		letter-spacing: 10px;
		text-align: center;
		text-transform: uppercase;
	}
}

.names,
#wedding-date {
	font-size: 46pt;
	font-weight: 400;
}

.icon-moon-light {
	
	display: block;
	float: left;
	margin-bottom: -62%;
	margin-left: 21%;
	margin-top: 5%;
	min-height: 609px;
	min-width: 627px;
}

#wedding-date {
	display: block;
	font-size: 1em;
	letter-spacing: 5px;
	position: relative;
	text-align: center;
	top: 145px;
}