// Styles for the home page
.home {
	@include outer-container;
	min-height: 609px;
}

#main-content	{

	min-height: 168px;
	
	.names {
		display: block;
		letter-spacing: 10px;
		text-align: center;
		text-transform: uppercase;
	}
}

.names,
#wedding-date {
	font-size: 18pt;
	font-weight: 400;

	@include media($widescreen) {
		font-size: 46pt;
	}

	@include media ($desktop) {
		font-size: 36pt;
	}

	@include media ($tablet-only) {
		font-size: 26pt;
	}
}

.icon-moon-light {
	display: block;
	margin-bottom: -62%;
	margin-left: auto;
	margin-right: auto;
	max-width: 338px;
	position: relative;
	top: -263px;

	@include media($widescreen) {
		top: -425px;
	}

	@include media ($desktop) {
		max-width: 676px;
		top: -395px;
	}

	@include media ($tablet-only) {
		max-width: 550px;
		top: -370px;
	}
}

#wedding-date {
	display: block;
	font-size: 1em;
	letter-spacing: 5px;
	position: relative;
	text-align: center;
	top: 145px;
}